[app]
host = localhost
port = 7070

[saml]
issuer = python-saml
# Email address is a common format to use when verifying identity
name_identifier_format = urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress
# The SAML Consumer URL from your OneLogin app
assertion_consumer_service_url =
# The SAML Login URL from your OneLogin app
idp_sso_target_url =
# The x.509 certificate fingerprint from OneLogin, found under Security->SAML,
# as a file path. Only one of idp_cert_file and idp_cert_fingerprint will be
# used by the example app, with idp_cert_file having priority if both are
# defined.
idp_cert_file =
# The x.509 certificate fingerprint from OneLogin, found under Security->SAML,
# as a string. Only one of idp_cert_file and idp_cert_fingerprint will be
# used by the example app, with idp_cert_file having priority if both are
# defined.
idp_cert_fingerprint =
