[MASTER]
profile=no
persistent=yes
ignore=
cache-size=500

[REPORTS]
output-format=text
files-output=no
reports=yes

[BASIC]
no-docstring-rgx=__.*__|_.*
class-rgx=[A-Z_][a-zA-Z0-9_]+$
function-rgx=[a-zA_][a-zA-Z0-9_]{2,70}$
method-rgx=[a-z_][a-zA-Z0-9_]{2,70}$
const-rgx=(([A-Z_][A-Z0-9_]*)|([a-z_][a-z0-9_]*)|(__.*__)|register|urlpatterns)$
good-names=_,i,j,k,e,qs,pk,setUp,tearDown,el,ns,fd,js,nb,na,sp,SAML_SINGLE_LOGOUT_NOT_SUPPORTED,SAML_SINGLE_LOGOUT_NOT_SUPPORTED,NAMEID_WINDOWS_DOMAIN_QUALIFIED_NAME
docstring-min-length=1

disable=E0611,W0703,W0511,W1401,F0401,W0102,E1103,W0212,I0011

[TYPECHECK]

# Tells whether missing members accessed in mixin class should be ignored. A
# mixin class is detected if its name ends with "mixin" (case insensitive).
ignore-mixin-members=yes

# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus extisting member attributes cannot be deduced by static analysis
ignored-modules=

# List of classes names for which member attributes should not be checked
# (useful for classes with attributes dynamically set).
ignored-classes=SQLObject,WSGIRequest

# When zope mode is activated, add a predefined set of Zope acquired attributes
# to generated-members.
zope=no

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E0201 when accessed.
generated-members=objects,DoesNotExist,id,pk,_meta,base_fields,context,views,save

# List of method names used to declare (i.e. assign) instance attributes
defining-attr-methods=__init__,__new__,setUp

[VARIABLES]
init-import=no
dummy-variables-rgx=_|dummy

[SIMILARITIES]
min-similarity-lines=6
ignore-comments=yes
ignore-docstrings=yes
[MISCELLANEOUS]
notes=FIXME,XXX,TODO

[FORMAT]
max-line-length=200
max-module-lines=1200
indent-string='    '
indent-after-paren=4

[DESIGN]
max-args=10
max-locals=40
max-returns=6
max-branches=50
max-statements=120
max-parents=10
max-attributes=10
min-public-methods=0
max-public-methods=100
