# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test_py3:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        pip install -U setuptools
        sudo apt-get update -qq
        sudo apt-get install -qq swig python-dev libxml2-dev libxmlsec1-dev
        make install-req
        make install-test
    - name: Test
      run: make pytest
  test_py2:
    runs-on: ubuntu-20.04
    container:
      image: python:2.7.18-buster
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        pip install -U setuptools
        apt-get update -qq
        apt-get install -qq swig python-dev libxml2-dev libxmlsec1-dev
        make install-req
        make install-test
    - name: Test
      run: make pytest
  lint:
    runs-on: ubuntu-20.04
    environment: CI
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v2
      with:
        python-version: "3.12"
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        pip install -U setuptools
        sudo apt-get update -qq
        sudo apt-get install -qq swig python-dev libxml2-dev libxmlsec1-dev
        pip install --force-reinstall --no-binary lxml lxml
        make install-req
        make install-test
    - name: Run linters
      run: |
        make pycodestyle
        make flake8
    - name: Run coveralls
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      run: |
        pip install coveralls
        coverage run  setup.py test
        coverage report -m
        coveralls
